<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='anotherstyle.css' ) }}">
</head>
<body>
    Non-volatile memory stores data permanently.

Used for long-term storage of programs, files, and OS.

Slower than primary memory (RAM).

Examples: Hard Disk Drives (HDDs), Solid State Drives (SSDs), CDs, DVDs, USB drives.

Much larger capacity than primary memory (GBs to TBs).

Data remains even when the computer is powered off.

Can be internal (inside the computer) or external (portable).

Cheaper per GB compared to primary memory.
</body>
</html>